<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Criar Novo Condominio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/public/img/mutareLogo-removebg-preview.png" rel="icon">
  <link href="/public/img/mutareLogo-removebg-preview.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/public/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/public/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/public/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/public/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/public/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <%- include('./partials/header.ejs') %>

    <!-- ======= Sidebar ======= -->
    <%- include('./partials/sidebar.ejs') %>

      <!-- ======= Main ======= -->
      <main id="main" class="main">

        <!-- Page Title -->
        <div class="pagetitle">
          <h1>Condominios</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item">Condominios</li>
              <li class="breadcrumb-item active">Criar Novo</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->

        <section class="section faq">
          <div class="row">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Criar novo Condominio</h5>

                <!-- General Form Elements -->
                <form id="condominioForm" method="post" action="/Condominio/Criar">
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Codigo</label>
                    <div class="col-sm-10">
                      <input type="text" name="codigo" id="codigo" class="form-control">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Selecione as casas</label>
                    <!-- List group With Checkboxes and radios -->
                    <ul class="list-group">
                      <% if (casas.length> 0) { %>
                        <% casas.forEach(casa=> {%>
                          <li class="list-group-item">
                            <nav>
                              <ol class="breadcrumb">
                                <li>
                                  <input class="form-check-input me-1" type="checkbox" value="<%=casa.id%> - <%=casa.localizacao%> - Tipo: <%=casa.numeroQuartos%>" aria-label="...">
                                </li>
                                <li class="breadcrumb-item"><a href="/Casa/Detalhes/<%= casa.id%>"> <i
                                      class="bi bi-images"></i></a></li>
                                <li class="breadcrumb-item active">
                                  Proprietario: <%= casa.proprietario%>
                                </li>
                                <li class="breadcrumb-item active">
                                  Tipo: <%= casa.numeroQuartos%>
                                </li>
                                <li class="breadcrumb-item active">
                                  Renda: <%= casa.renda%>
                                </li>
                              </ol>
                            </nav>
                          </li>
                          <% }) %>
                            <% } else{ %>
                              <p>Ainda não tem Casas Criados</p>
                              <% } %>
                    </ul><!-- End List Checkboxes and radios -->
                  </div>

                  <input type="hidden" id="casas" name="casas">

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="reset" class="btn btn-secondary">Limpar todos os Campos</button>
                  </div>

                </form><!-- End General Form Elements -->

              </div>
            </div>
          </div>
        </section>

      </main><!-- End #main -->

      <!-- ======= Footer ======= -->
      <%- include('./partials/footer.ejs') %>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="/public/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/public/vendor/chart.js/chart.umd.js"></script>
        <script src="/public/vendor/echarts/echarts.min.js"></script>
        <script src="/public/vendor/quill/quill.js"></script>
        <script src="/public/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="/public/vendor/tinymce/tinymce.min.js"></script>
        <script src="/public/vendor/php-email-form/validateForCondominios.js"></script>

        <!-- Template Main JS File -->
        <script src="/public/js/main.js"></script>

</body>

</html>