<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Detalhes da Casa</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/public/img/mutareLogo.jpg" rel="icon">
  <link href="/public/img/mutareLogo.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/public/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/public/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/public/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/public/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/public/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <%- include('./partials/header.ejs') %>

    <!-- ======= Sidebar ======= -->
    <%- include('./partials/sidebar.ejs') %>

      <!-- ======= Main ======= -->
      <main id="main" class="main">

        <div class="pagetitle">
          <h1>Detalhes da casa</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item">Casa</li>
              <li class="breadcrumb-item active">Detalhes</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->

        <section class="section profile">
          <div class="row">
            <div class="col-xl-12">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Proprietário <%= result.proprietario%>
                  </h5>

                  <!-- Slides with indicators -->
                  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <% if (result.fotos.length > 0) { %>
                        <% result.fotos.forEach((foto, index) => { %>
                          <button type="button" data-bs-target="#carouselExampleIndicators" 
                                  data-bs-slide-to="<%= index %>" 
                                  class="<%= index === 0 ? 'active' : '' %>" 
                                  <%= index === 0 ? 'aria-current="true"' : '' %> 
                                  aria-label="Slide <%= index + 1 %>">
                          </button>
                        <% }) %>
                      <% } %>
                    </div>
                    
                    <div class="carousel-inner">
                      <% if (result.fotos.length > 0) { %>
                        <% result.fotos.forEach((foto, index) => { %>
                          <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                            <img src="<%= foto %>" class="d-block w-100" alt="Casa do <%= result.proprietario %>">
                          </div>
                        <% }) %>
                      <% } else { %>
                        <p>Sem fotos da Casa</p>
                      <% } %>
                    </div>
                    

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>

                  </div><!-- End Slides with indicators -->

                </div>
              </div>

            </div>
          </div>
        </section>

      </main><!-- End Main -->

      <!-- ======= Footer ======= -->
      <%- include('./partials/footer.ejs') %>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="/public/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/public/vendor/chart.js/chart.umd.js"></script>
        <script src="/public/vendor/echarts/echarts.min.js"></script>
        <script src="/public/vendor/quill/quill.js"></script>
        <script src="/public/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="/public/vendor/tinymce/tinymce.min.js"></script>
        <script src="/public/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="/public/js/main.js"></script>

</body>

</html>